* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  font-family: "Inter";
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
